@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Playfair+Display:ital@0;1&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.redwine__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  top: -1rem;
}

.redwine__navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.redwine__navbar-links > * {
  margin-left: -50%;
}

.redwine__navbar-links h2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d124ff), to(#ff2a2a));
  background: linear-gradient(#d124ff, #ff2a2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.redwine__navbar-links h2:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: white;
}

.redwine__navbar-links .bottom__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redwine__navbar-links span {
  text-align: center;
  position: absolute;
  height: 0.18rem;
  background: #ff0202;
  border-radius: 2rem;
  width: 3rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  margin-top: 0.3rem;
}

.redwine__navbar-links span.show {
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.redwine__navbar-links .submenu1,
.redwine__navbar-links .submenu2 {
  list-style: none;
  position: fixed;
  background: #fff8f8;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.6rem;
}

.redwine__navbar-links .submenu1 h3,
.redwine__navbar-links .submenu2 h3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d124ff), to(#ff2a2a));
  background: linear-gradient(#d124ff, #ff2a2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.redwine__navbar-links .submenu1 > *,
.redwine__navbar-links .submenu2 > * {
  margin-top: 0.7rem;
}

@media screen and (max-width: 1060px) {
  .redwine__navbar-links {
    margin-right: 0;
  }
  .redwine__navbar-links > * {
    margin-left: -30%;
  }
}

.redwine__navbar-hamburger {
  display: none;
}

.redwine__navbar-register {
  font-family: "Playfair Display", serif;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 1.5rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.redwine__navbar-register h2 span {
  color: #961313;
}

@media screen and (max-width: 850px) {
  .redwine__navbar {
    top: -1rem;
    overflow: visible;
  }
  .redwine__navbar-logo {
    margin-left: -1.5rem;
  }
  .redwine__navbar-links {
    position: absolute;
    right: 1rem;
    top: 8rem;
    font-size: .85rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: #fff;
    padding: 1rem 1.4rem 1rem 2.5rem;
    border-radius: 0.6rem;
  }
}

@media screen and (max-width: 850px) and (max-width: 330px) {
  .redwine__navbar-links {
    padding: .8rem .4rem .8rem 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .redwine__navbar-links__register {
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
    background: black;
    border-radius: .6rem;
  }
  .redwine__navbar-links .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .redwine__navbar-links .item svg {
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    color: black;
  }
  .redwine__navbar-links > * {
    margin-bottom: 1rem;
  }
  .redwine__navbar-links .submenu1,
  .redwine__navbar-links .submenu2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .redwine__navbar-links .submenu1 li,
  .redwine__navbar-links .submenu2 li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0.8rem;
  }
  .redwine__navbar-links .submenu1 li p,
  .redwine__navbar-links .submenu2 li p {
    color: #961313;
  }
  .redwine__navbar-links .submenu1 {
    margin-top: 0;
    position: absolute;
    right: 12rem;
  }
  .redwine__navbar-links .submenu2 {
    margin-top: 0;
    position: absolute;
    right: 12rem;
    width: 16rem;
  }
}

@media screen and (max-width: 850px) and (max-width: 448px) {
  .redwine__navbar-links .submenu2 {
    width: 11rem;
  }
}

@media screen and (max-width: 850px) and (max-width: 390px) {
  .redwine__navbar-links .submenu2 {
    width: 8rem;
    right: 11rem;
    padding: 1rem .5rem;
  }
}

@media screen and (max-width: 850px) {
  .redwine__navbar-links .bottom__line {
    display: none;
  }
  .redwine__navbar-register {
    display: none;
  }
  .redwine__navbar-hamburger {
    margin-right: 1.5rem;
    display: block;
  }
  .redwine__navbar-hamburger svg {
    font-size: 2rem;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #4b0404;
}

.redwine__footer {
  margin-top: 6rem;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Playfair Display", serif;
}

.redwine__footer-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding: 0 5rem 0 0;
}

.redwine__footer-detail p {
  margin: 1rem 0;
}

.redwine__footer-detail__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12rem;
  margin-top: 1rem;
}

.redwine__footer-detail__social svg {
  font-size: 2rem;
}

.redwine__footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.redwine__footer-links h4 {
  cursor: pointer;
}

.redwine__footer-links__content {
  margin-bottom: 1rem;
}

.redwine__footer-links__content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.redwine__footer-links__content-heading span {
  margin-top: .3rem;
  width: 4rem;
  height: .2rem;
  background: #961313;
}

.redwine__footer-links__content h4 {
  margin-top: .7rem;
}

.redwine__footer-links__influencer {
  margin-bottom: 1rem;
}

.redwine__footer-links__influencer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.redwine__footer-links__influencer-heading span {
  margin-top: .3rem;
  width: 4rem;
  height: .2rem;
  background: #961313;
}

.redwine__footer-links__influencer h4 {
  margin-top: .7rem;
}

.redwine__footer-links__services {
  margin-top: 1rem;
}

.redwine__footer-links__services-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.redwine__footer-links__services-heading span {
  margin-top: .3rem;
  width: 3rem;
  height: .2rem;
  background: #961313;
}

.redwine__footer-links__services h4 {
  margin-top: .7rem;
}

@media screen and (max-width: 850px) {
  .redwine__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .redwine__footer > * {
    margin-bottom: 1rem;
  }
  .redwine__footer-detail {
    width: 100%;
    padding-right: 1rem;
  }
  .redwine__footer-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .redwine__footer-links > * {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .redwine__footer {
    padding: 1rem;
    font-size: .9rem;
  }
}
/*# sourceMappingURL=index.css.map */