.redwine__home {
  @include font1;
  padding: 6rem;

  h1 {
    font-size: 2.5rem;
    @include font2;
  }
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.7rem;
  }

  &-intro {
    @include center_element;
    justify-content: space-between;
    //  align-items: flex-start;

    .detail {
      h2 {
        font-size: 2rem;
      }
      p {
        margin: 2rem 0 5rem;
        width: 40rem;
      }

      .btn {
        @include button;
        width: 10rem;
        @include center_element;
      }
    }
    .image {
      img {
        width: 100% !important;
      }
    }

    @media screen and (max-width: 1250px) {
      .detail {
        p {
          width: 100%;
        }
      }
      .image {
        width: 100%;
      }
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column-reverse;

      .detail {
        margin-top: 4rem;
        p {
          width: 100%;
          margin: 2rem 0 3rem;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }

  .title {
    @include center_element;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .line {
      width: 100%;
      background: $primary-color;
      height: 4px;
    }
  }

  &-influencer {
    margin-top: 5rem;

    

    .content {
      padding: 2rem;

      .swiper {
        padding: 2rem;
      }
      &__card {
        @include center-element;
        flex-direction: column;
        $border: 2px;
        color: #fff;
        background: #000;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: 1em;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          margin: -$border; /* !importanté */
          border-radius: inherit; /* !importanté */
          
          background: linear-gradient(to right, #f220ff, #ffed31);
        }

        img {
          border-radius: 1rem;
        }
        .inner {
          @include center-element;
          display: none;
          border-radius: 1rem;
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          flex-direction: column;
          font-size: 1.3rem;
          border-radius: 1rem;
          h2 {
            @include font2;

            color: #ef2c2c;
          }
          p {
            color: white;
          }

          &:hover {
            transition: all 0.8s ease-out;
            background: rgba($color: #000000, $alpha: 0.3);
          }

          &__link{
            @include center_element;
            margin-top: 1rem;
            justify-content: space-between;
            
            .item:not(:last-child){
              margin-right: 1rem;
            }

            img{
              width: 2.5rem;
            }
          }
        }

        &:hover .inner {
          display: flex;
        }
        &:hover img {
          transition: all 1s ease-in;
          // transform: scale(1.2);
        }
      }
    }

  }

  &-services {
    margin-top: 5rem;
    .title {
      align-items: flex-start;
    }
    .content {
      margin-top: 2rem;
      padding: 2rem;
      @include center_element;
      flex-wrap: wrap;

      grid-gap: 2rem;
      justify-content: space-around;

      &__card {
        cursor: pointer;
        width: 29rem;
        @include card_shadow;
        padding: 2rem;
        border-radius: 5px;
        h2 {
          @include font2;
          margin: 0.4rem 0 1rem;
          // color: $primary-color;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .content {
        padding: 2rem 0;
        grid-template-columns: repeat(1, 1fr);

        &__card {
          margin-bottom: 2rem;
          width: 100%;
        }
      }
    }
  }

  &-company{
    margin: 4rem 0;
    .item{
      @include center_element;

      img{
        // filter: grayscale(100%);
        
      }
      &:hover .img{
        
        filter: grayscale(100%);
      }
    }
  }

  &-testimonial {
    // padding: 7rem 5rem;
    margin-top: 5rem;
    overflow-x: hidden;

    h2 {
      @include font2;
    }

    &__content {
      margin-top: 5rem;

      .swiper-button-prev,
      .swiper-button-next {
        color: $primary-color;
      }

      &-upper {
        @include center-element;
        justify-content: space-evenly;

        .title {
          width: 50%;
          @include center-element;

          flex-direction: column;
          align-items: flex-start;

          p:last-child {
            margin-top: 1.3rem;
            width: 50%;
          }
          @media screen and (max-width: 1050px) {
            & {
              width: 100%;
              p {
                width: 100% !important;
              }
            }
          }
        }

        iframe {
          border: 5px solid $primary-color;
        }
      }

      &-lower {
        margin-top: 3rem;

        .card {
          cursor: pointer;
        }

        .card-show {
          padding: 0.5rem;
          color: $secondary-color;
          border-radius: 4px;
          background: $primary-color;
        }
      }
    }
    @media screen and (max-width: 1400px) {
      & {
        padding: 5rem;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        padding: 3rem;

        &__content {
          &-upper {
            flex-direction: column-reverse;

            .video {
              width: 100%;
              iframe {
                width: 100% !important;
                height: 16rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 750px) {
      & {
        padding: 2rem;

        &__title {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        padding: 0;
        margin-top: 4rem;

        &__content {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media screen and (max-width: 1370px) {
    padding: 6rem 2rem;
  }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width:650px) {

    padding: 1rem;

    &-intro{
      margin-top: 5rem;
    }
  }
}
