.redwine__scrolltotop {
  position: fixed;
  right: 1rem;
  z-index: 22222;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-circle {
    padding: 0.4rem;
    background: $primary-color;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  svg {
    margin-top: 1rem;
    path {
      background: $primary-color;
      fill: $primary-color;
    }
    font-size: 3rem;
  }
  @media screen and (max-width: 750px) {
    & {
      &-circle {
        padding: 0.3rem;
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}

.redwine__modal {
  position: relative;
  background: rgba($color: #000000, $alpha: 0.9);
  z-index: 1232;
  &-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
  }
  &-close {
    padding: 1rem;
    position: fixed;
    background: $primary-color;
    top: 10rem;
    right: 1rem;
  }
  video {
    width: 100%;
  }
  @media screen and (max-width: 950px) {
    &-element {
      left: 0;
      transform: translate(0, -50%);
      padding: 1rem;
    }
    &-close {
      padding: 0.5rem;
    }
  }
}

.redwine__home {
  &-carousel {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    padding: 1rem 8rem;

    &__detail {
      @include center-element;
      justify-content: space-between;
      margin-bottom: 5rem;
      overflow: hidden;

      &-left {
        h1 {
          font-size: 4rem;
          color: $primary-color;
        }
      }
      &-right {
        width: 50%;

        h4 {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
        p {
          color: $primary-color;

          &:hover {
            svg {
              transition: all 0.3s ease-in-out;
              transform: scale(1.5);
            }
          }
        }
      }
    }

    &__image {
      position: relative;
      .play-button {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        // background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 20px;
        align-items: center;
        justify-content: center;

        &__circle {
          @include center-element;
          border-radius: 50%;
          padding: 1rem;
          background: $primary-color;

          svg {
            font-size: 2rem;
            fill: $primary-color;
            path {
              background: $primary-color;
            }

            @media screen and (max-width: 750px) {
              font-size: 1rem;
            }
          }

          &:hover {
            transition: all 0.3s ease-out;
            transform: scale(1.2);
          }
        }
      }
    }

    @media screen and (max-width: 1400px) {
      & {
        padding: 1rem 6rem;

        &__detail {
          &-left {
            h1 {
              font-size: 3rem;
            }
          }
          &-right {
            h4 {
              font-size: 1rem;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1100px) {
      & {
        padding: 1rem 3rem;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        padding: 1rem 2rem;

        &__detail {
          flex-direction: column;
          margin-bottom: 3.5rem;
          &-left {
            h1 {
              font-size: 3rem;
            }
            margin-bottom: 1rem;
          }
          &-right {
            width: 100%;
            h4 {
              font-size: 1rem;
            }
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        padding: 0 1rem;

        &__detail {
          flex-direction: column;
          margin-bottom: 3.5rem;
          &-left {
            h1 {
              font-size: 2.5rem;
            }
            margin-bottom: 1rem;
          }
          &-right {
            width: 100%;
            h4,
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  &-services {
    padding: 7rem;
    @include center-element;
    flex-direction: column;

    &-intro {
      @include center-element;
      justify-content: space-between;
      width: 100%;
      overflow-x: hidden;

      &__title {
        h1 {
          @include center-element;
          font-size: 3rem;
          color: $primary-color;
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &__detail {
        margin-top: 2rem;
        width: 45%;
        font-size: 1.3rem;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      width: 85%;
      margin-top: 6rem;
      grid-gap: 2rem;
      overflow-y: hidden;

      &-card {
        width: 28rem;
        @include center-element;
        flex-direction: column;
        align-items: flex-start;

        &:last-child {
          margin-top: 5rem;
        }

        svg {
          font-size: 3rem;
        }

        .detail {
          @include center-element;
          flex-direction: column;
          align-items: flex-start;

          h1 {
            font-size: 2.5rem;
            margin-top: 2rem;
            color: $primary-color;
          }
          p {
            margin-top: 1rem;
            font-size: 1.2rem;
          }

          &__redirect {
            margin-top: 2rem;
            @include center-element;
            p {
              margin-top: 0;
              margin-right: 1rem;
              color: $primary-color;
            }
            svg {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1400px) {
      & {
        padding: 5rem;

        &__content {
          width: 90%;

          &-card {
            width: 100%;

            @media screen and (max-width: 1200px) {
              &:first-child {
                margin-right: 3rem;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 900px) {
      & {
        padding: 3rem;

        &-intro {
          h1 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1rem;
          }
        }

        &__content {
          width: 100%;

          &-card {
            .detail {
              h1 {
                font-size: 2rem;
              }

              p {
                font-size: 1rem;
              }

              &__redirect {
                p {
                  font-weight: bold;
                }
              }
            }
            @media screen and (max-width: 1200px) {
              &:first-child {
                margin-right: 3rem;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 750px) {
      & {
        padding: 2rem;

        &-intro {
          flex-direction: column;
          align-items: flex-start;

          &__detail {
            width: 100%;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        padding: 1rem;
        margin-top: 4rem;

        &-intro {
          &__detail {
            width: 100%;
          }
        }

        &__content {
          display: grid;
          grid-template-columns: repeat(1, 1fr);

          &-card {
            width: 100%;
            margin-top: 3rem;
            &:last-child {
              margin-top: 3rem;
            }
            .detail {
              svg {
                font-size: 3rem;
              }

              &__redirect {
                svg {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
  &-influencer {
    padding: 7rem;
    overflow-x: hidden;

    &__title {
      @include center-element;
      color: $primary-color;
      flex-direction: column;
      align-items: flex-end;
      span {
        background: $secondary-color;
        height: 0.2rem;
        margin-top: 0.2rem;
      }
      h1 {
        font-size: 3rem;
        overflow-x: hidden;
      }
    }
    &__content {
      margin-top: 3rem;
      &-card {
        @include center-element;
        flex-direction: column;

        img {
          border-radius: 1rem;
        }
        .inner {
          @include center-element;
          display: none;
          border-radius: 1rem;
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          flex-direction: column;
          font-size: 1.3rem;
          border-radius: 1rem;
          h1 {
            transition: all 0.8s ease-out;
            color: $primary-color;
          }
          &:hover {
            transition: all 0.8s ease-out;
            background: rgba($color: #000000, $alpha: 0.7);
          }
        }

        &:hover .inner {
          display: flex;
        }
        &:hover img {
          transition: all 1s ease-in;
          // transform: scale(1.2);
        }
      }
    }

    @media screen and (max-width: 1400px) {
      & {
        padding: 5rem;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        padding: 3rem;
      }
    }

    @media screen and (max-width: 750px) {
      & {
        padding: 2rem;

        &__title {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        padding: 1rem;
        margin-top: 4rem;

        &__content {
          .inner {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  &-testimonial {
    padding: 7rem;
    overflow-x: hidden;

    &__title {
      @include center-element;
      color: $primary-color;
      flex-direction: column;
      align-items: flex-end;
      span {
        background: $secondary-color;
        height: 0.2rem;
        margin-top: 0.2rem;
      }
      h1 {
        font-size: 3rem;
        overflow-x: hidden;
      }
    }

    &__content {
      margin-top: 5rem;
    
.swiper-button-prev,.swiper-button-next{
  color: $primary-color
}

      &-upper {
        @include center-element;
        justify-content: space-evenly;

        .title {
          width: 50%;
          @include center-element;

          flex-direction: column;
          align-items: flex-start;

          
          p:last-child {
            margin-top: 1.3rem;
            width: 50%;
          }
          @media screen and (max-width: 1050px) {
            & {
              width: 100%;
              p {
                width: 100% !important;
              }
            }
          }
        }

        iframe {
          border: 5px solid $primary-color;
          
        }
      }

      &-lower {
        margin-top: 3rem;

        .card-show {
          padding: 0.5rem;
          background: $primary-color;
        }
      }
    }
    @media screen and (max-width: 1400px) {
      & {
        padding: 5rem;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        padding: 3rem;

        &__content{
          &-upper{
            flex-direction: column-reverse;

            .video{
              width: 100%;
              iframe{
                width: 100% !important;
                height: 16rem;
              }
              }
          }
        }
      }
    }

    @media screen and (max-width: 750px) {
      & {
        padding: 2rem;

        &__title {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        padding: 1rem;
        margin-top: 4rem;

        &__content {
          font-size: .8rem;
          
        }
      }
    }
  }
}
