.redwine__influencer {
  padding: 6rem;
  @include font2;

  .title {
    h1 {
      color: $primary-color;
    }
    &.reverse {
      text-align: end;
    }
  }

  &-intro {
    margin-top: 3rem;
    .upper {
      @include center_element;
      justify-content: space-between;
      margin-bottom: 3rem;

      &__left {
        width: 100%;

        font-size: 1.4rem;

        h1 {
          color: $primary-color;
        }
      }
      &__right {
        font-size: 1.2rem;
        width: 100%;

        .register {
          cursor: pointer;
          background: $primary-color;
          color: white;
          margin-top: 1rem;

          width: 10rem;
          border-radius: 4px;
          padding: 0.5rem 1rem;

          @include center_element;
        }
      }
    }
  }

  &-platform {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin: 5rem 0;
    &__card {
      cursor: pointer;
      @include center_element;
      border-radius: 5px;
      background: rgb(214, 214, 214);
      padding: 2rem 0.5rem;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-instagram {
    margin-top: 3rem;
    .swiper {
      padding: 2rem !important;
    }
    .content {
      padding: 2rem;

      &__card {
        @include center-element;
        flex-direction: column;
        $border: 2px;
        color: #fff;
        background: #000;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: 1em;
        background: linear-gradient(to right, #f220ff, #ffed31);

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          margin: -$border; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: linear-gradient(to right, $primary-color, $dark-color);
        }

        img {
          border-radius: 1rem;
        }
        .inner {
          @include center-element;
          display: none;
          border-radius: 1rem;
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          flex-direction: column;
          font-size: 1.3rem;
          border-radius: 1rem;
          h2 {
            // transition: all 0.8s ease-out;
            @include font2;

            color: $primary-color;
          }
          p {
            color: white;
          }

          &:hover {
            transition: all 0.8s ease-out;
            background: rgba($color: #000000, $alpha: 0.3);
          }
          &__link{
            @include center_element;
            margin-top: 1rem;
            justify-content: space-between;
            
            .item:not(:last-child){
              margin-right: 1rem;
            }

            img{
              width: 2.5rem;
            }
          }
        }

        &:hover .inner {
          display: flex;
        }
        &:hover img {
          transition: all 1s ease-in;
          // transform: scale(1.2);
        }
      }
    }
  }

  &-genre {
    margin: 5rem 0;

    .content {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;

      &__item {
        padding: 2rem;
        border-radius: 5px;
        background: rgb(214, 214, 214);
        @include center_element;
        flex-direction: column;
        position: relative;

        .inner {
          @include center_element;
          position: absolute;
          opacity: 0;
          height: 100%;
          width: 100%;
        }
        &:hover {
          img {
            transition: all 0.2s ease-in;
            opacity: 0;
          }
        }
        &:hover .inner {
          transition: all 0.5s ease-in;
          opacity: 1;
          border: 3px solid $primary-color;
          border-radius: 5px;
        }
      }

      @media screen and (max-width:1000px) {
        grid-template-columns: repeat(3,1fr);
      }
      @media screen and (max-width:600px) {
        grid-template-columns: repeat(2,1fr);
      }
    }
  }

  @media screen and (max-width: 1370px) {
    padding: 6rem 2rem;
  }
  @media screen and (max-width: 800px) {
    &-intro {
      .upper {
        &__left {
          font-size: 1.2rem;
        }
        &__right {
          p {
            margin: 1rem 0 2rem;
          }
          font-size: 1rem;
        }
        flex-direction: column;
      }
    }
  }

  @media screen and (max-width: 650px) {
    padding: 1rem;

    &-intro {
      margin-top: 5rem;
    }
  }
}
