.redwine {
  &__navbar {
    position: fixed;
    width: 100%;

    z-index: 20;
    padding: 0 5rem;
    @include font1;
    @include center_element;
    justify-content: space-between;

    .cross {
      transform: rotate(45deg);
    }
    &.sticky {
      // padding: .5rem 1rem;
      padding: -0.5rem 5rem;
      transition: all 0.5s ease-in-out;
      box-shadow: 0 0 7px #000;
      background: #fff;
    }

    &-content {
      @include center_element;

      .link {
        @include center_element;
        .active {
          h1{
            color: $primary-color;
          }
        }
        &__item {
          cursor: pointer;
          margin-right: 1.5rem;
          position: relative;

          .line {
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background: $primary-color;
            width: 0;

            &.active {
              transition: all 0.3s ease-in;
              width: 100%;
            }
          }

          .option {
            z-index: 20;
            background-color: white;
            border-radius: 5px;
            padding: 1rem;
            // width: 100%;
            width: 12rem;
            @include card_shadow;
            position: absolute;
            top: 2.7rem;

            &__item:not(:last-child) {
              margin-bottom: 0.5rem;
              width: 100%;
            }
          }
        }
      }
      .register {
        margin-left: 3rem;
        @include button;
      }
    }

    @media screen and (max-width: 1370px) {
      padding: 0 1rem;
    }
    @media screen and (max-width: 850px) {
      &-content {
        .link {
          display: none;
        }
        .register {
          display: none;
        }
      }

      .mob__link {
        z-index: 20;
        background-color: white;
        position: absolute;
        top: 4rem;
        right: 1rem;

        @include card_shadow;
        width: 10rem;
        padding: 1rem 1rem 0.5rem 0.5rem;
        border-radius: 4px;

        &-item {
          position: relative;
          @include center_element;
          justify-content: space-between;
          flex-direction: row-reverse;
          h1 {
            font-size: 1.7rem;
          }
          margin-bottom: 0.5rem;
          .option {
            background: $secondary-color;
            right: 10rem;
            border-radius: 5px;
            padding: 1rem;
            // width: 100%;
            width: 12rem;
            @include card_shadow;
            position: absolute;
            top: 3.5rem;

            &__item {
              margin-bottom: 0.5rem;
              width: 100%;
            }
          }
        }

        &-register {
          margin-top: 1rem;
          @include button;
          @include center_element;
        }
      }
    }
  }

  &__footer {
    margin-top: 5rem;
    padding: 5rem 5rem 1rem;
    background: rgb(212, 212, 212);
    h2 {
      @include font2;
      color: $primary-color;
    }
    p {
      // font-size: 1.1rem;
      // font-weight: bold;
      color: rgb(71, 71, 71);
      @include font2;
    }
    a {
      // font-weight: bold;
      color: rgb(71, 71, 71);
      cursor: pointer;
      @include font2;
      // font-size: 1.1rem
    }
    .upper {
      @include center_element;
      justify-content: space-between;
      align-items: flex-start;

      .detail {
        p:not(:first-child) {
          margin: 0.8rem 0;
        }
        p:first-child {
          margin-top: 0.4rem;
        }
      }

      .content {
        @include center_element;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.8rem;

        a:not(:last-child) {
          margin-bottom: 0.6rem;
        }
      }
    }

    .lower {
      @include center_element;
      justify-content: space-around;
      .copyright {
        @include center_element;
      }
      .link {
        a:not(:last-child) {
          margin-right: 3rem;
        }
      }
      .social {
        @include center_element;

        svg {
          color: $primary-color;
          font-size: 1.5rem;
        }
        .item {
          cursor: pointer;
          padding: 0.7rem;
          background: $secondary-color;
          border-radius: 50%;
          @include center_element;
          @include card_shadow;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          &:hover {
            transition: all 0.5s ease-in-out;
            background: $primary-color;

            svg {
              transition: all 0.5s ease-in-out;
              color: $secondary-color;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1150px) {
      padding: 5rem 1rem 1rem;
    }

    @media screen and (max-width: 800px) {
      padding: 5rem 1rem 1rem;

      .upper {
        flex-direction: column;

        & > *:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
      .lower {
        flex-direction: column;

        .link {
          margin: 1.5rem 0;
        }
      }
    }
  }

  &__test {
    @include center_element;
    height: 100vh;
  }

  &__register {
    z-index: 343;
    background: white;
    width: 33rem;
    $input_color: rgb(232, 232, 232);
    @include font2;
    @include center_element;
    @include card_shadow;
    flex-direction: column;
    padding: 2rem;
    position: relative;

    &-cancel {
      cursor: pointer;
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
    }
    &-title {
      text-align: center;

      h1 {
        color: $primary-color;
      }
      margin-bottom: 3rem;
    }
    .error {
      font-size: 0.8rem;
      margin-top: 0.3rem;
      color: red;
    }

    &-submit {
      width: 100%;
      @include center_element;
      justify-content: space-between;
      .next,
      .prev {
        padding: 0.7rem 1rem;
        h3 {
          color: white;
        }
        border-radius: 4px;
        @include center_element;
        background: $primary-color;
        color: $secondary-color;
        width: 100%;
        cursor: pointer;
      }
    }

    &-content {
      width: 100%;
      h3 {
        color: $primary-color;
      }
      .item {
        margin-bottom: 2rem;
      }
      .name {
        input {
          background: $input_color;
          margin-top: 0.2rem;
          @include card_shadow;
          width: 100%;
          padding: 1rem;
          border-radius: 3px;
        }
      }
      .title {
        margin-bottom: 1rem;
      }
      .MuiFilledInput::after {
        border-bottom-color: red;
      }
      .platform {
        .content {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1rem;
          &__item {
            cursor: pointer;
            @include center_element;
            border-radius: 5px;
            background: $input_color;
            padding: 1rem 0.5rem;

            img {
              filter: grayscale(100%);
            }
            &:hover {
              background-color: rgb(162, 162, 162);
              transition: all 0.5s ease-in-out;
              img {
                transition: all 0.5s ease-in-out;
                filter: grayscale(0%);
              }
            }
            &.active {
              @include card_shadow;
              background-color: rgb(185, 185, 185);
              img {
                filter: grayscale(0%);
              }
            }
          }
        }
      }

      .reason {
        .content {
          &__item {
            cursor: pointer;
            @include center_element;
            justify-content: space-between;
            .dot {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white;
            }

            padding: 1rem;
            background: $input_color;
            border-radius: 4px;
            &:first-child {
              margin-bottom: 1rem;
            }
            &:hover,
            &.active {
              .dot {
                transition: all 0.5s ease-in-out;
                background: $primary-color;
              }
            }
          }
        }
      }
    }
    .handle {
      .css-5z923u-MuiInputBase-root-MuiFilledInput-root:after {
        border-bottom: 2px solid $primary-color;
      }
      .content {
        @include center_element;
        &__item:first-child {
          margin-right: 1rem;
        }
      }
    }
    .follower {
      .MuiSlider-root {
        color: $primary-color !important;
      }
    }
    .genre {
      .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .Mui-checked {
          color: $primary-color;
        }

        &__item {
          @include center_element;
          justify-content: flex-start;
        }
      }
    }
    .brand,
    .contact,
    .email {
      input {
        background: $input_color;
        margin-top: 0.2rem;
        @include card_shadow;
        width: 100%;
        padding: 1rem;
        border-radius: 3px;
      }
    }

    @media screen and (max-width: 500px) {
      .handle {
        .content {
          flex-direction: column;

          &__item:first-child {
            margin-right: 0;
            margin-bottom: 1rem;
          }
          &__item {
            width: 100%;
          }
        }
      }
      .genre {
        .content {
          grid-template-columns: repeat(1, 1fr);
          height: 10rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 4px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $primary-color;
            border-radius: 10px;
          }
        }
      }
    }

    @media screen and (max-width: 650px) {
      font-size: 0.9rem;
    }
    border-radius: 5px;
  }

  &__modal-reg {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    z-index: 33;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) !important;
    backdrop-filter: blur(3px);


    @media screen and (max-width:500px) {
      padding: 1rem;
    }
  }

}
